body {
  background-color: rgb(44, 43, 43);
  color: rgb(231, 230, 230);
  font-family: Droid Sans , Helvetica , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
